<h3>Shorten your URL!!!!</h3>
<ul>
<%= form_for @url, remote: true do |f| %>
  <li>
    <%= f.label :long_url %>
    <%= f.text_field :long_url %>
  </li>
  <li>
    <%= f.submit %>
  </li>

<% end%>
</ul>
