<h1 class= "test">Hello <%= @user.username %></h1>

<p>Your password is <%= @user.display_password %></p>
<h6>Shhh... it's a secret to everybody...</h6>

<span><%= link_to "Home Page", root_path %></span>

<span><%= link_to "Shorten your URL", new_url_path %></span>

